<div>
  <ul>
    <li class="is-hidden-touch">
      <a href="https://github.com/winvale" target="_blank">
        <i class="fa fa-github-alt github fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li class="is-hidden-touch">
      <a
        href="https://www.linkedin.com/in/edwin-valencia-333849226/"
        target="_blank"
      >
        <i class="fa fa-linkedin linkedin fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <app-contact-form></app-contact-form>
    </li>
  </ul>
</div>
