@use 'sass:color';
@use 'sass:math';
@use '../../../styles/_variables.scss' as *;

.footer {
  background-color: $light-color;
  padding: 2rem 0;
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (max-width: $mobile) {
      flex-direction: column;
      text-align: center;
    }
  }
  
  .social-links {
    display: flex;
    gap: 1rem;
    
    .icon {
      color: $dark-color;
      transition: color 0.3s ease;
      
      &:hover {
        color: $primary-color;
      }
    }
  }
  
  .copyright {
    color: $grey-color;
    font-size: 0.9rem;
  }
}