@import '../../../styles.scss';

.footer {
  background-color: #f5f5f5;
  padding: 3rem 1.5rem;
  border-top: 1px solid #eaeaea;
  
  strong {
    color: $primary-color;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    
    @media screen and (max-width: 768px) {
      justify-content: center;
      margin-top: 1rem;
    }
    
    .icon-link {
      color: $dark-color;
      font-size: 1.25rem;
      transition: all 0.3s ease;
      
      &:hover {
        color: $primary-color;
        transform: translateY(-3px);
      }
    }
  }
  
  .copyright {
    font-size: 0.9rem;
    color: #777;
    margin-top: 2rem;
  }
}