.cajaPadre {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.cajaFoto {
    grid-area: 2/ 1/ 4 / 1;
}

.cajaSaludo {
    grid-area: 2/ 3/ 4 / 2;
}

.cajaFrase {
    grid-area: 4 / 4 / 4 / 2;
}

.image img.is-rounded {
    border-radius: 9999px;
    
  
}
