:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-dark);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  color: var(--text-light);
  min-height: 100vh;
}