<div class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="textoDetras title is-2 is-uppercase">
        {{ "TITULO_WORK" | translate }}
      </h1>
      <h1 class="textoEncima subtitle is-uppercase">
        {{ "SUBTITULO_WORK" | translate }}
      </h1>
    </div>

    <div class="box mt-6 transparente">
      <div class="content">
        <table class="table has-text-centered">
          <tbody>
            <tr>
              <td>{{ "TITULO_EMPRESA" | translate }}</td>
              <td>{{ "INFORMACION_NOMBRE_PROFILE" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_CARGO" | translate }}</td>
              <td>{{ "INFORMACION_RESIDENCIA_PROFILE" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_FUNCIONES" | translate }}</td>
              <td>{{ "INFORMACION_CARRERA_PROFILE" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_FECHA_INICIO_FECHA_FIN" | translate }}</td>
              <td>
                {{ "INFORMACION_POSTGRADO1_PROFILE" | translate }}
                <br />
                {{ "INFORMACION_POSTGRADO2_PROFILE" | translate }}
                <br />
                {{ "INFORMACION_POSTGRADO3_PROFILE" | translate }}
                <br />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
