<div class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="textoDetras title is-2 is-uppercase">
        {{ "TITULO_WORK" | translate }}
      </h1>
      <h1 class="textoEncima subtitle is-uppercase">
        {{ "SUBTITULO_WORK" | translate }}
      </h1>
    </div>
    <!--primera empresa -->
    <div class="box mt-6 transparente">
      <div class="content">
        <table class="table has-text-centered">
          <tbody>
            <tr>
              <td>{{ "TITULO_EMPRESA" | translate }}</td>
              <td>{{ "TITULO_EMPRESA_USER" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_CARGO" | translate }}</td>
              <td>{{ "INFORMACION_CARGO_USER" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_FUNCIONES" | translate }}</td>
              <td>{{ "INFORMACION_FUNCIONES_USER" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_PROYECTOS" | translate }}</td>
              <td>
                <a href="https://www.morasurcocafepuro.com/" target="_blank">https://www.morasurcocafepuro.com/</a>
              </td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_FECHA_INICIO_FECHA_FIN" | translate }}</td>
              <td>
                {{ "INFORMACION_FECHA_INICIO_FECHA_FIN_USER" | translate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Segunda empresa -->
    <div class="box mt-6 transparente">
      <div class="content">
        <table class="table has-text-centered">
          <tbody>
            <tr>
              <td>{{ "TITULO_EMPRESA" | translate }}</td>
              <td>{{ "TITULO_EMPRESA_USER1" | translate }}</td>
            </tr>
            <tr>
              <td>
                {{ "INFORMACION_CARGO" | translate }}
              </td>
              <td>
                {{ "INFORMACION_CARGO_USER1" | translate }}
                <br />
                {{ "INFORMACION_CARGO_USER1.1" | translate }}
                <br />
                {{ "INFORMACION_CARGO_USER1.2" | translate }}
              </td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_FUNCIONES" | translate }}</td>
              <td>{{ "INFORMACION_FUNCIONES_USER1" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_PROYECTOS" | translate }}</td>
              <td>
                <a href="https://inventas-app.netlify.app/" target="_blank">https://inventas-app.netlify.app/</a>
              </td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_FECHA_INICIO_FECHA_FIN" | translate }}</td>
              <td>
                {{ "INFORMACION_FECHA_INICIO_FECHA_FIN_USER1" | translate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Tercera empresa -->
    <div class="box mt-6 transparente">
      <div class="content">
        <table class="table has-text-centered">
          <tbody>
            <tr>
              <td>{{ "TITULO_EMPRESA" | translate }}</td>
              <td>{{ "TITULO_EMPRESA_USER1" | translate }}</td>
            </tr>
            <tr>
              <td>
                {{ "INFORMACION_CARGO" | translate }}
              </td>
              <td>
                {{ "INFORMACION_CARGO_USER3.0" | translate }}
                <br />
                {{ "INFORMACION_CARGO_USER3.1" | translate }}
                <br />
                {{ "INFORMACION_CARGO_USER3.2" | translate }}
              </td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_FUNCIONES" | translate }}</td>
              <td>{{ "INFORMACION_FUNCIONES_USER1" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_PROYECTOS" | translate }}</td>
              <td>
                <a href="" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td>{{ "INFORMACION_FECHA_INICIO_FECHA_FIN" | translate }}</td>
              <td>
                {{ "INFORMACION_FECHA_INICIO_FECHA_FIN_USER1" | translate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>