@use '../../../app/shared/styles/mixins' as *;

.skills-section {
  @include section-padding;
  background: linear-gradient(135deg, rgba(26,26,26,.95) 0%, rgba(44,44,44,.95) 100%);
  
  .title { 
    color: #fff !important; 
  }
  
  .skill-item {
    margin-bottom: 1rem;
    .skill-info {
      display: flex;
      justify-content: space-between;
      .skill-name {
        color: #fff;
        font-weight: 600;
      }
      .skill-percentage {
        color: #3498db;
        font-weight: 600;
      }
    }
  }
}