* {
    font-family: 'Open Sans', sans-serif;
}

html {
    background: #114d23;
    /* fallback for old browsers */
    background: linear-gradient(to top, #010f05f6, #d7dbd8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #010f05f6, #d7dbd8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.textoEncima {
    font-weight: 610!important;
}

.textoDetras {
    /* font-size: calc(1.95rem + 4.4vw)!important; */
    color: #1a84aa!important;
    opacity: .7;
    font-weight: 610!important;
}

.transparente {
    opacity: .8;
}

.carousel {
    overflow: inherit;
}